* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    min-height: 100vh;
    background-color: #666;
    display: flex;
    padding: 20px 0;
}

.fullscreen_body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: rgb(250, 243, 234);
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(139, 104, 83);
}

.form_title, .form_label{
    display: block;
    background-color: rgba(97, 146, 87, 0.5);
    height: 100%;
    width: 100%;
    padding-top: 15px;
    border-radius: 10px;
}

.form_label {
    max-width: 600px;
    max-height: 50px;
    margin-left: 20%;
    margin-right: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form_title {
    max-width: 200px;
    max-height: 50px;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form_input {
    background-color: rgba(160, 110, 110, 0.5);
    border-radius: 10px;
    font-size:medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    max-width: 600px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    margin-left: 20%;
    margin-right: 50%;
    padding-left: 310px;
    padding-right: 250px;
    justify-content: center;
    cursor: pointer;
}

.form_input:focus{
    box-shadow: -0.2em 1px 5px 5px rgba(0, 0, 0, 0.5);
}

._bag{
    box-shadow: -0.2em 1px 5px 5px rgba(255, 0, 0, 0.5);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.checkbox_input{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.formbtn{
    color: rgb(77, 114, 95);
    background-color: rgba(39, 95, 121, 0.5);
    border-radius: 10px;
    font-size:medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    max-width: 280px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    margin-left: 35%;
    margin-right: 50%;
    justify-content: center;
    cursor: pointer;
}

.formbtn:hover {
    box-shadow: -0.2em 1px 5px 5px rgba(0, 0, 0, 0.5);
    font-size:17px;
}

.palataData{
    margin-top: 40px;
}

.palataData{
    border: 1px black solid;
    display: block;
    background-color: rgba(97, 146, 87, 0.5);
    padding-top: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
    justify-content: left;
    margin-left: 35%;
    margin-right: 37%;
    margin-bottom: 5px;
    margin-top: 45px;
    max-width: 280px;
    max-height: 400px;
    height: 100%;
    width: 100%;
    overflow:auto;
}

.divIn {
    left: 0;
    padding-left: 0;
    padding-top: 10px;
    border-bottom: 1px black dotted;
}

.divIn:first-child{
    padding-top: 0;
}

.divIn:last-child {
    border: none;
}

._hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .fullscreen_body {
        max-width: 900px;
    }
    
    .form_title, .form_label{
        display: block;
        background-color: rgba(97, 146, 87, 0.5);
        height: 50%;
        width: 50%;
        padding-top: 15px;
        border-radius: 10px;
    }
    
    .form_label {
        max-width: 600px;
        max-height: 50px;
        margin-left: 28%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 42%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .form_input {
        height: 100%;
        width: 50%;
        margin-left: 28%;
        padding-left: 210px;
        padding-right: 100px;
    }
    
    .checkbox_input{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 5%;
    }
    
    .formbtn{
        max-width: 280px;
        max-height: 50px;
        height: 100%;
        width: 100%;
        margin-left: 37%;
    }
    
    .palataData{
        margin-top: 40px;
    }
    
    .palataData{
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-left: 37%;
        margin-bottom: 5px;
        margin-top: 45px;
        max-width: 280px;
        max-height: 250px;
        height: 100%;
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .fullscreen_body {
        max-width: 800px;
        font-size: medium;
    }
    
    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 41%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: large;
    }
    
    .palataData{
        margin-top: 60px;
    }
}

@media screen and (max-width: 800px) {
    .fullscreen_body {
        max-width: 700px;
        font-size: medium;
    }
    
    .form_title, .form_label{
        display: block;
        background-color: rgba(97, 146, 87, 0.5);
        height: 40%;
        width: 40%;
        padding-top: 15px;
        border-radius: 10px;
    }
    
    .form_label {
        max-width: 600px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 41%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .form_input {
        height: 100%;
        width: 40%;
        margin-left: 35%;
        padding-left: 130px;
        padding-right: 50px;
    }
    
    .checkbox_input{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 10%;
    }
    
    .formbtn{
        max-width: 280px;
        max-height: 50px;
        height: 100%;
        width: 100%;
        margin-left: 35%;
        margin-top: 5px;
    }
    
    .palataData{
        margin-top: 40px;
    }
    
    .palataData{
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-left: 35%;
        margin-bottom: 5px;
        margin-top: 45px;
        max-width: 280px;
        max-height: 250px;
        height: 100%;
        width: 50%;
    }
    
    .palataData{
        margin-top: 60px;
    }
}

@media screen and (max-width: 700px) {
    .fullscreen_body {
        max-width: 600px;
        font-size: medium;
    }

    .form_title, .form_label{
        display: block;
        background-color: rgba(97, 146, 87, 0.5);
        height: 40%;
        width: 40%;
        padding-top: 15px;
        border-radius: 10px;
    }
    
    .form_label {
        max-width: 600px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 39%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .form_input {
        height: 100%;
        width: 40%;
        margin-left: 35%;
        padding-left: 110px;
        padding-right: 50px;
    }
    
    .checkbox_input{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 10%;
    }
    
    .formbtn{
        max-width: 140px;
        max-height: 50px;
        height: 100%;
        width: 100%;
        margin-left: 43%;
        margin-top: 5px;
        font-size: 12px;
    }

    .formbtn:hover {
        font-size:13px;
    }
    
    .palataData{
        margin-top: 40px;
    }
    
    .palataData{
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-left: 37%;
        margin-bottom: 5px;
        margin-top: 45px;
        max-width: 220px;
        max-height: 250px;
        height:80%;
        width: 50%;
    }
    
    .palataData{
        margin-top: 60px;
    }
}

@media screen and (max-width: 600px) {
    .fullscreen_body {
        max-width: 500px;
        font-size: 12px;
    }

    .form_title, .form_label{
        display: block;
        background-color: rgba(97, 146, 87, 0.5);
        height: 40%;
        width: 40%;
        padding-top: 15px;
        border-radius: 10px;
    }
    
    .form_label {
        max-width: 600px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: normal;
    }
    
    .form_input {
        height: 100%;
        width: 40%;
        margin-left: 35%;
        padding-left: 90px;
        padding-right: 50px;
    }
    
    .checkbox_input{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 10%;
    }
    
    .formbtn{
        max-width: 140px;
        max-height: 50px;
        height: 100%;
        width: 100%;
        margin-left: 41%;
        margin-top: 5px;
        font-size: 12px;
    }

    .formbtn:hover {
        font-size:13px;
    }
    
    .palataData{
        margin-top: 40px;
    }
    
    .palataData{
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-left: 33%;
        margin-bottom: 5px;
        margin-top: 45px;
        max-width: 220px;
        max-height: 210px;
        height:80%;
        width: 50%;
    }
    
    .palataData{
        margin-top: 60px;
    }
}

@media screen and (max-width: 500px) {
    .fullscreen_body {
        max-width: 400px;
        font-size: 12px;
    }

    .form_title, .form_label{
        display: block;
        background-color: rgba(97, 146, 87, 0.5);
        height: 40%;
        width: 40%;
        padding-top: 15px;
        border-radius: 10px;
    }
    
    .form_label {
        max-width: 600px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: normal;
    }
    
    .form_input {
        height: 100%;
        width: 40%;
        margin-left: 35%;
        padding-left: 75px;
        padding-right: 50px;
    }
    
    .checkbox_input{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 10%;
    }
    
    .formbtn{
        max-width: 140px;
        max-height: 50px;
        height: 100%;
        width: 100%;
        margin-left: 37%;
        margin-top: 5px;
        font-size: 12px;
    }

    .formbtn:hover {
        font-size:13px;
    }
    
    .palataData{
        margin-top: 40px;
    }
    
    .palataData{
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-left: 30%;
        margin-bottom: 5px;
        margin-top: 45px;
        max-width: 220px;
        max-height: 200px;
        height:50%;
        width: 50%;
    }
    
    .palataData{
        margin-top: 60px;
    }
}

@media screen and (max-width: 400px) {
    .fullscreen_body {
        max-width: 300px;
        font-size: 9px;
    }

    .form_title, .form_label{
        display: block;
        background-color: rgba(97, 146, 87, 0.5);
        height: 40%;
        width: 40%;
        padding-top: 15px;
        border-radius: 10px;
    }
    
    .form_label {
        max-width: 600px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 14px;
    }
    
    .form_input {
        height: 100%;
        width: 40%;
        margin-left: 35%;
        padding-left: 50px;
        padding-right: 20px;
    }
    
    .checkbox_input{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 10%;
    }
    
    .formbtn{
        max-width: 140px;
        max-height: 50px;
        height: 100%;
        width: 100%;
        margin-left: 32%;
        margin-top: 5px;
        font-size: 11px;
    }

    .formbtn:hover {
        font-size:12px;
    }
    
    .palataData{
        margin-top: 40px;
    }
    
    .palataData{
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-left: 30%;
        margin-bottom: 5px;
        margin-top: 45px;
        max-width: 220px;
        max-height: 190px;
        height:50%;
        width: 50%;
    }
    
    .palataData{
        margin-top: 60px;
    }
}

@media screen and (max-width: 300px) {
    .fullscreen_body {
        max-width: 200px;
        font-size: 8px;
    }

    .form_title, .form_label{
        display: block;
        background-color: rgba(97, 146, 87, 0.5);
        height: 40%;
        width: 40%;
        padding-top: 15px;
        border-radius: 10px;
    }
    
    .form_label {
        max-width: 600px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .form_title {
        max-width: 200px;
        max-height: 50px;
        margin-left: 35%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 12px;
    }
    
    .form_input {
        height: 100%;
        width: 40%;
        margin-left: 35%;
        padding-left: 32px;
        padding-right: 10px;
    }
    
    .checkbox_input{
        width: 30px;
        height: 30px;
        margin-top: 5px;
        margin-left: 10%;
    }
    
    .formbtn{
        max-width: 90px;
        max-height: 50px;
        height: 100%;
        width: 100%;
        margin-left: 33%;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 11px;
    }

    .formbtn:hover {
        font-size:12px;
    }
    
    .palataData{
        margin-top: 40px;
    }
    
    .palataData{
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-left: 30%;
        margin-bottom: 5px;
        margin-top: 0;
        max-width: 220px;
        max-height: 170px;
        height:50%;
        width: 50%;
    }
    
    .palataData{
        margin-top: 60px;
    }
}

@media screen and (max-width: 200px) {
    .fullscreen_body {
        max-width: 100px;
        font-size: 8px;
    }
}