*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    background-color: #333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 20px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    min-height: 100vh;
    background-color: #666;
    display: flex;
    padding: 20px 0;
}

.fullscreen_body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: rgb(250, 243, 234)
}

.fullscreen_photo {
    margin: 0px;
    padding: 0px;
    border: none;
}

.left_header_container {
    position: absolute;
    display: inline-block;
    background-color: rgb(250, 243, 234);
    border-radius: 15px;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(139, 104, 83);
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0px 20px;
    text-align: center;
}

#left_header_container_afterTitle {
    font-style: italic;
    font-size: 50%;
}

#left_header_container_text {
    font-size: 35%;
}

.left_header_border {
    font-size: 35%;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

#adress {
    text-transform: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(139, 104, 83)
}

#adress:hover {
    text-decoration:underline;
}

#phone {
    cursor: pointer;
    color: rgb(139, 104, 83);
    text-decoration: none;
}

#phone:hover {
    text-decoration:underline;
}

.header_container {
    position: absolute;
    display: inline-block;
    background-color: rgb(250, 243, 234);
    border-radius: 15px;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header_link {
    text-transform: uppercase;
    color: rgb(139, 104, 83);
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0px 20px;
    text-align: center;
}

.header_link a:first-child {
    padding: 0px;
}
.header_link a:last-child {
    padding: 0px;
}

#header_link5 {
    background-color: rgb(191, 158, 117);
    border-radius: 15px;
}

#header_link5:hover {
    text-decoration:underline;
    background-color: #111;
    border-radius: 15px;
    transition: 0.2s linear;
}

.header_link:hover {
    text-decoration:underline;
    background-color: #111;
    transition: 0.2s linear;
}

.fullscreen_title {
    font-size: 50px;
    margin: 0px 0px 20px 0px;
}

.fullscreen_text {
    margin: 0px 0px 20px 0px;
    font-size: 25px;
}

.fullscreen_link {
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: #77608d;
    align-self: center;
    padding: 0px 20px;
}

.fullscreen_bg {
    background: url("/photo/bg2.jpg") center / cover no-repeat fixed;
}

.fullscreen_two_body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 0px ;
    background-color: rgb(250, 243, 234);
    color: rgb(139, 104, 83);
    text-align: center;
}

.fullscreen_two_body_menu {
    background-color: rgb(233, 192, 117);
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.fullscreen_two_body_breakfast {
    background-color: rgb(200, 222, 246);
    max-height: 100px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 0;
    border: 1px solid black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.breakfast {
    font-size: medium;
    position: relative;
    padding: 10px auto;
    width: 100%;
}

.breakfast_p {
    display: block;
    text-align: center;
    margin: 0px 40px;
    font-style: italic;
    font-variant:initial;
    cursor: pointer;
}

.img_breakfast {
    display: block;
    margin: 0px 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.breakfast_li {
    display: inline-block;
}

.fullscreen_two_body_lunch {
    background-color: rgb(208, 126, 115);
    max-height: 100px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0;
}

.lunch {
    font-size: medium;
    position: relative;
    padding: 10px auto;
    width: 100%;
}

.lunch_p {
    display: block;
    text-align: center;
    margin: 0px 40px;
    font-style: italic;
    font-variant:initial;
    cursor: pointer;
}

.img_lunch {
    display: block;
    margin: 0px 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.lunch_li {
    display: inline-block;
}

.fullscreen_two_body_dinner {
    background-color: rgb(153, 138, 163);
    max-height: 100px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0;
}

.dinner {
    font-size: medium;
    position: relative;
    padding: 10px auto;
    width: 100%;
}

.dinner_p {
    display: block;
    text-align: center;
    margin: 0px 40px;
    font-style: italic;
    font-variant:initial;
    cursor: pointer;
}

.img_dinner {
    display: block;
    margin: 0px 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.dinner_li {
    display: inline-block;
}

.footer {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    color: rgb(139, 104, 83);
}

.footer_img {
    margin: auto;
    padding: auto;
    left: 0;
    border: none;
}

.form_body{
    background: url('/photo/низ.png') no-repeat;
    position: relative;
    padding: 30px;
}

.form_body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url("/photo/VAyR.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form_body._sending::after{
    opacity: 1;
    visibility: visible;
}

.footer_form {
    max-width: 550px;
    margin: 0px;
    padding: 30px 0;
}

.footer_item {
    margin: 0;
}

.footer_input {
    min-height: 30px;
    width: 100%;
    padding: 0px 20px;
    border-radius: 5px;
    color: rgb(139, 104, 83);
    background-color: rgb(250, 243, 234);
}

.footer_input._error{
    box-shadow: 0 0 15px red;
}

#formText{
    max-width: 550px;
    width: 100%;
    min-height: 120px;
    resize: none;
    margin-top: 5px;
    margin-bottom: 0;
}

.footer_btn {
    color: rgb(139, 104, 83);
    background-color: rgb(250, 243, 234);
    max-width: 550px;
    min-height: 50px;
    width: 100%;
    margin: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: large;
}

.footer_btn:hover {
    background-color: #111;
    border-radius: 15px;
    transition: 0.2s linear;
}

.footer_img2 {
    position: absolute;
    right: 70px;
    top: 20px;
    width: 200px;
    height: 330px;
}